<%- include('../cabecalho.ejs') %>
<h1>Editar Marca</h1>

<div>
    <a href="/marca/lst">Listar</a>
</div>

<div>
    <form method="post">
        <input type="hidden" name="id" value="<%= marca._id %>"><br>

        <label>Nome:</label>
        <input type="text" name="nome" value="<%= marca.nome %>" required>
        <br>

        <label>País:</label>
        <input type="text" name="pais" value="<%= marca.pais %>" required>
        <br><br>

        <button type="submit">Salvar</button>
    </form>
</div>

<%- include('../rodape.ejs') %>
