<%- include('../cabecalho.ejs') %>
<h1>Editar Marca</h1>

<div>
    <a href="/marca/lst">Listar</a>
</div>

<div>
    <form action="/marca/edt/<%= marca._id %>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= marca._id %>"><br>

        <label>Nome:</label>
        <input type="text" name="nome" value="<%= marca.nome %>" required>
        <br>

        <label>País:</label>
        <input type="text" name="pais" value="<%= marca.pais %>" required>
        <br>

        
        <label for="imagem">Imagem:</label>
        <input type="file" name="imagem" id="imagem" accept="image/*" />
        

        <button type="submit">Salvar</button>
    </form>
</div>

<%- include('../rodape.ejs') %>
