<%-include('../cabecalho.ejs')%>
<h1>Jogos</h1>
<div>
    <form action="" method="post">
        <input type="text" name="filtro" placeholder="Digite o nome do jogo">
        <button type="submit">Pesquisar</button>
    </form>
</div>
<a href="/jogo/add">+ Jogo</a>
<table>
    <tr>
        <th>Nome</th>
        <th>Ano</th>
        <th>Gênero</th>
        <th>Desenvolvedor</th>
        <th>Classificação</th>
        <th>Plataforma</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>
    <% for (const { _id, nome, ano, genero, desenvolvedor, classificacao, plataforma, preco } of Jogos) { %>
    <tr>
        <td><%= nome %></td>
        <td><%= ano %></td>
        <td><%= genero %></td>
        <td><%= desenvolvedor %></td>
        <td><%= classificacao %></td>
        <td><%= plataforma %></td>
        <td>R$ <%= preco.toFixed(2) %></td>
        <td>
            <a href="/jogo/edt/<%= _id %>">Editar</a>
            <a href="/jogo/del/<%= _id %>">Excluir</a>
        </td>
    </tr>
    <% } %>
</table>
<%-include('../rodape.ejs')%>