<%-include('../cabecalho.ejs')%>
<h1>Gêneros</h1>
<div>
    <form action="" method="post">
        <input type="text" name="filtro" placeholder="digite o nome">
        <button type="submit">Pesquisar</button>
    </form>
</div>
<a href="/genero/add">+ Gênero</a>
<table>
    <tr>
        <td>Nome</td>
        <td>Ações</td>
    </tr>
    <% for (const { _id, nome } of Generos) { %>
    <tr>
        <td><%= nome %></td>
        <td>
            <a href="/genero/edt/<%= _id %>">Editar</a>
            <a href="/genero/del/<%= _id %>">Excluir</a>
        </td>
    </tr>
    <% } %>
</table>
<%-include('../rodape.ejs')%>